#area {
	width: min(50px, 20%);
	height: min(10px, 10vh);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ball {
	border-radius: 50%;
	width: min(12px, 20% + 2px, 10vh + 2px);
	height: 100%;
	border: 1px solid black;
	position: absolute;
	top: 0%;
	background-color: white;
}

#first {
	left: 0%;
	animation: orange1 3s infinite;
}

#second {
	left: 50%;
	transform: translate(-50%, 0%);
	animation: orange2 3s infinite;
}

#third {
	right: 0%;
	animation: orange3 3s infinite;
}

@keyframes orange1 {
	0% {
		background-color: #fb5101;
	}
	33% {
		background-color: #fb5101;
	}
	34% {
		background-color: white;
	}
	100% {
		background-color: white;
	}
}

@keyframes orange2 {
	0% {
		background-color: white;
	}
	33% {
		background-color: white;
	}
	34% {
		background-color: #fb5101;
	}
	66% {
		background-color: #fb5101;
	}
	67% {
		background-color: white;
	}
	100% {
		background-color: white;
	}
}

@keyframes orange3 {
	0% {
		background-color: white;
	}
	66% {
		background-color: white;
	}
	67% {
		background-color: #fb5101;
	}
	100% {
		background-color: #fb5101;
	}
}